<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Test Js</title>

	<link rel="stylesheet" href="assets/components/datatables/media/css/jquery.dataTables.min.css">
	<link rel="stylesheet" href="assets/components/alertify/themes/alertify.core.css">
	<link rel="stylesheet" href="assets/components/alertify/themes/alertify.default.css">

	<link rel="stylesheet" href="assets/css/init.css">
</head>
<body>
	<header>
		<h1>Test Js</h1>
	</header>

	<section>
		<a class="js-get-data" href="#">Pobierz dane</a>

		<div class="js-data data"></div>
	</section>

	<script id="template-data" type="text/x-handlebars-template">
		<table class="js-table">
			<thead>
			<tr>
				<th>
					id
				</th>
				<th>
					tutuł
				</th>
				<th>
					data
				</th>
				<th>
					cena
				</th>
			</tr>
			</thead>
			{{#each result}}
				<tr>
					<td>
						{{this.id}}
					</td>
					<td>
						{{this.title}}
					</td>
					<td>
						{{this.date}}
					</td>
					<td>
						{{this.price}}
					</td>
				</tr>
			{{/each}}
		</table>
	</script>

	<script src="assets/components/jquery/dist/jquery.min.js"></script>
	<script src="assets/components/handlebars/handlebars.min.js"></script>
	<script src="assets/components/datatables/media/js/jquery.dataTables.min.js"></script>
	<script src="assets/components/alertify/alertify.min.js"></script>
	<script src="assets/js/init.js"></script>
</body>
</html>